{% extends "encyclopedia/layout.html" %}

{% block title %}
    Update {{ title }}
{% endblock %}

{% block body %} 
<form action="{% url 'edit' title %}" method = "POST">
    {% csrf_token %}
    <input type="text" id="title" name="title" placeholder="Enter title" style="width: 900px; margin-bottom: 15px; margin-top: 15px;" 
     {% if title %} value={{title}} {% endif %} disabled
    ><br>
    <textarea  name="content" id="content" style="height:200px; width: 900px;" placeholder="Enter Text">
    {% if content %} {{content}} {% endif %}
    </textarea><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}